@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    src: local("Cuprum"),
    url("./web/cuprum.woff2") format("woff2"),
    url("./web/cuprum.woff") format("woff");
}
@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: bold;
    src: local("Cuprumbold"),
    url("./web/cuprumbold.woff2") format("woff2"),
    url("./web/cuprumbold.woff") format("woff");
}
@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: bold;
    src: local("Cuprumbolditalic"),
    url("./web/cuprumbolditalic.woff2") format("woff2"),
    url("./web/cuprumbolditalic.woff") format("woff");
}
@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: normal;
    src: local("Cuprumitalic"),
    url("./web/cuprumitalic.woff2") format("woff2"),
    url("./web/cuprumitalic.woff") format("woff");
}
@font-face {
    font-family: "PTsans";
    font-style: normal;
    font-weight: normal;
    src: local("PTsans"),
    url("./web/ptsans.woff2") format("woff2"),
    url("./web/ptsans.woff") format("woff");
}
@font-face {
    font-family: "PTsans";
    font-style: normal;
    font-weight: bold;
    src: local("PTsansbold"),
    url("./web/ptsansbold.woff2") format("woff2"),
    url("./web/ptsansbold.woff") format("woff");
}
*,*::after,*::before{
    box-sizing: border-box;
}
body {
    font-family: "cuprum", "pt sans", "tahoma", sans-serif;
    margin:0;
    padding: 0;
    font-weight: 400;
    color: #000000;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 1200px;
    height: 3151px;
}
a {
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
h1 {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #EE3643;
    font-weight: 400;
    margin-left: 182px;
    margin-top: 43px;
    width: 226px;
}
.header {
    background-color: rgb(41,52,73);
    font-size: 17px;
    line-height: 18px;
    width: 1200px;
    height: 42px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    margin-bottom: 0px;
}
.logo {
    background-image: url(img/header/logo-background.png);
    background-color: rgb(238, 54, 67);
    background-size: cover;
    height: 42px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
    margin-left: 130px;
}
.header a:hover,
.header a:focus{
    background-color: black;
}
.search{
    width: 270px;
    display: flex;
}
.search input{
    background-color: rgb(41,52,73);
    color: white;
    font-size: 17px;
    line-height: 18px;
    font:inherit;
    width: 71px;
    margin-right: 167px;
}
.search svg{
    margin-right: 15px;
}
.bookmarks{
    padding-bottom: 12px;
    width: 150px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    line-height: 18px;
    padding-top: 11px;
    padding-right: 45px;
}
.bookmarks svg{
    margin-right: 13px;
}
.cart{
    width: 133px;
    height: 42px;
    display: flex;
    align-items: center;
    margin-right: 1px;
}
.cart img{
    margin-right: 17px;
}
.order {
    background-color: rgb(99, 166, 62);
    display: flex;
    width: 150px;
    height: 42px;
    align-items: center;
    justify-content: center;
}
.top{
    background-color: rgb(244,247,248);
    display: flex;
    padding-bottom: 46px;
}
.telephone{
    display: flex;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    width: 270px;
    height: 45px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 22px;
    margin-top: 46px;
    margin-left: 42px;
}
a[href^="tel:"] {
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #EE3643;
    margin-left: 41px;
}
.topcontacs p{
    display: flex;
    color: #32425C;
    font-size: 14px;
    line-height: 24px;
    margin-top: 3px;
    width: 280px;
    height: 24px;
    justify-content: center;
    margin-left: 37px;
    margin-bottom: 0px;
}
.login{
    color: black;
    background-color: white;
    display: flex;
    padding-top: 11px;
    padding-bottom: 13px;
    margin-top: 46px;
    width: 121px;
    height: 45px;
    font-size: 21px;
    line-height: 21px;
    margin-right: 10px;
    margin-left: 69px;
}
.login svg{
    margin-left: 14px;
    margin-right: 15px;
}
.registration {
    display: flex;
    padding-top: 11px;
    padding-bottom: 13px;
    margin-top: 46px;
    font-size: 21px;
    line-height: 21px;
    background-color: white;
    color: black;
    height: 45px;
    width: 150px;
    justify-content: center;
    margin-right: 130px;
}
nav{
    background-color: rgb(244,247,248);
    margin-top: 0px;
    padding-bottom: 60px; 
}
.nav{
    background-image: url(img/other/nav-layer.png);
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    max-width: 940px;
    height: 60px;
    margin-top: 0px;
    align-items: baseline;
    justify-content: space-around;
}
.nav li{
    padding-right: 30px;
    padding-top: 21px;
}
.nav a{
color: white;
font-size: 17px;
line-height: 17px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 130px;
    margin-right: 130px;
}
.materials{
    background-color: #FFBF47;
    width: 300px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-right: 20px;
    margin-bottom: 23px;
}
.mit{
    display: flex;
    padding: 0px;
}
.materials-inner{
    display: flex;
    color: white;
    font-size: 24px;
    line-height: 30px;
    width: 141px;
    height: 61px;
    margin-top: 5px;
    margin-left: 23px;
}
.materials-inner svg{
    justify-content: right;
    margin-top: 31px;
    margin-right: 40px;
}
.materials-overlay{
    background-color: rgb(229, 172, 64);
    text-transform: uppercase;
    display: flex;
    color: white;
    font-size: 14px;
    line-height: 18px;
    width: 135px;
    height: 38px;
    margin-left: 25px;
    margin-bottom: 22px;
    justify-content: center;
    align-items: center;
}
.new{
    display: flex;
    margin-right: 20px;
    margin-bottom: 23px;
    justify-content: end;
    margin: 0px;
    padding: 0px;
    */А схуяли когда я ставлю паддинг 0, пикча становится такой большой?*/
}
.new img{
    justify-content: end;
    margin: 0px;
    padding: 0px;
}

.instruments{
    background-color: #3BBCE3;
    width: 300px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 23px;
    padding: 0px;
}
.instruments-inner{
    color: white;
    display: flex;
    font-size: 24px;
    line-height: 30px;
    width: 145px;
    height: 61px;
    margin-top: 5px;
    margin-left: 24px;
    justify-content: left;
}
.instruments-inner svg{
    display: flex;
    margin-left: 30px;
}
.instruments-overlay{
    background-color: rgb(53, 169, 204);
    text-transform: uppercase;
    color: white;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    width: 135px;
    height: 38px;
    margin-left: 25px;
    margin-bottom: 22px;
    justify-content: center;
    align-items: center;
}
.tech{
    background-color: #DC91D8;
    width: 300px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 23px;
}
.tech-inner{
    color: white;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    width: 180px;
    height: 61px;
    margin-top: 5px;
    margin-left: 22px;
}
.tech-inner svg{
    display: flex;
    margin-left: 61px;
}
.tech-overlay{
    background-color: rgb(198, 130, 194);
    text-transform: uppercase;
    color: white;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    width: 135px;
    height: 38px;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
}
.dsd{
    display: flex;
    padding: 0px;
}
.salesanddelivery{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 20px;
}
.sales{
    background-color: #8ED78F;
    width: 300px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 23px;
}
.sales-inner{
    color: white;
    font-size: 24px;
    display: flex;
    line-height: 30px;
    width: 146px;
    height: 61px;
    margin-left: 23px;
    margin-top: 5px;
}
.tech-inner svg{
    display: contents;
    justify-content: end;
    margin-left: 27px;
}
.sales-overlay{
    background-color: rgb(128, 193, 128);
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    width: 135px;
    height: 38px;
    margin-left: 23px;
    margin-bottom: 22px;
    align-items: center;
    justify-content: center;
}
.drills{
    background-image: url(img/main/drills-background.jpg);
    background-size: contain;
    display: flex;
    width: 620px;
    height: 266px;
    display: flex;
    flex-direction: column;
}
.drills p{
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-top: 5px;
    margin-left: 24px;    
}
.drills a{
    background-color: rgb(238, 54, 67);
    color: white;
    font-size: 14px;
    line-height: 18px;
    width: 195px;
    height: 35px;
    margin-left: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.drills span{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    color: white;
    font-weight: bold;
    display: flex;
    margin-bottom: 15px;
}
.buttons button{
    width: 21px;
    height: 39px;
    justify-content: left;
    align-items: center;
}
.buttons{
    display: flex;
}
.back{
    display: flex;
    margin-left: 26px;
    margin-bottom: 52px;
    background-color: transparent;
    border-width: 0px;
}
.forward{
    display: flex;
    margin-left: 531px;
    margin-bottom: 52px;
    background-color: transparent;
    border-width: 0px;
}
.popular{
    background-color: #EAEAEA;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 21px;
    display: flex;
    width: 940px;
    height: 90px;
}
.popular h2{
    justify-self: left;
    margin-left: 28px;
    margin-top: 15px;
    width: 290px;
    height: 108px;
    text-align: left;
    font-size: 30px;
    font-weight: 400;
}
.popular a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 250px;
    background-color: rgb(238, 54, 67);
    font-size: 14px;
    line-height: 18px;
    margin-left: 345px;
    margin-top: 26px;
    text-transform: uppercase;
}
.examples{
    display: flex;
    width: 940px;
    height: 350px;
    margin-left: 90px;*/Ставлю марджин, как из зепелина или ФШ, нихуя не совпадает, часть с примерами дрелей зъезжает на право. Уменьшаю на 40 пикселей, все почти идеально, чо за хуйня?*/
    margin-right: 130px;
}
.examples li{
    width: 220px;
    height: 350px; /*Если сделать длину, как на макете, т.е. 320, то почему то нижняя, актуальная цена не влезает, точнее обрезается её бэкграунд*/
    display: flex;
    border-width: 3px;
    margin-right: 20px;
}
.examples a{
    flex-direction: column;
    border-style: solid;
    border-color: rgb(229, 229, 229);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    align-items: center;
}
.actual-price{
    background-image: url(img/main/actualyprice-button.svg);
    width: 141px;
    height: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "PTsans";
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 21px;
    justify-content: center;
    text-align: center;
    align-items: baseline;
    padding-top: 7px;
    padding-bottom: 13px;
}
.old-price{
    text-decoration: line-through;
    font-family: "PTsans";
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: gray;
    margin-top: 7px;
    margin-bottom: 7px;
}
.drills-name{
    font-family: "PTsans";
    color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    margin: 0px;
}
.drills-name img{
    margin: 0px;
}
.drills-name span{
    margin-bottom: 30px;
}
.manufacturers-info{
    background-color:#EAEAEA;
    width: 940px;
    height: 89px;
    display: flex;
    margin-left: 130px;
    margin-right: 130px;
    justify-content: baseline;
}
.manufacturers-info h2{
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    width: 394px;
    height: 30px;
    text-transform: uppercase;
    color: #32425C;
    margin-top: 30px; 
    margin-right: 241px; 
    margin-bottom: 29px; 
    margin-left: 28px;
}
.manufacturers-info a{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    width: 254px;
    height: 38px;
    display: flex;
    margin-top: 25px;
    margin-right: 30px;
    color: white;
    background-color: rgb(238, 54, 67);
    text-align: center;
    align-items: center;
    justify-content: center;
}
.manufactures{
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    height: 310px;
    margin-left: 130px;
    padding: 0px;
}
.manufactures-top{
    display: flex;
    margin-top: 20px;
    padding: 0px;
}
.manufactures-top li{
    width: 220px;
    height: 140px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.manufactures-top li:nth-child(-n+3){
    margin-right: 20px;
}
.manufactures-bottom{
    display: flex;
    margin-top: 20px;
    padding: 0px;
}
.manufactures-bottom li{
    width: 220px;
    height: 140px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.manufactures-bottom li:nth-child(-n+3){
    margin-right: 20px;
}
.service{
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    background-color: rgb(244,247,248);
}
.service-info h2{
    font-size: 30px;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
    margin-left: 130px;
    padding-top: 65px;
    font-weight: 400;
    height: 49px;
}
.service-info p{
    font-family: "PTsans";
    font-size: 13px;
    line-height: 24px;
    color: black;
    margin-left: 130px;
    padding-top: 15px;
    width: 500px;
    margin-bottom: 67px;
}
.service h3{
    color: #32425C;
    font-size: 36px;
    line-height: 36px;
}
.service span{
    font-family: "PTsans";
    font-size: 13px;
    line-height: 24px;
    color: black;
}
.service-block{
    display: flex;
    justify-content: baseline;
}
.service-button{
    margin-top: 67px;
    width: 240px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 0px;
}
.service-button li{
    height: 60px;
    width: 240px;
}
.delivery{
    display: block;
    background-color: white;
    color: #32425C;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 18px;
    padding-left: 22px;
}
.garanty{
    display: block;
    background-color: #32425C;
    color: white;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    padding: 14px 111px 17px 22px;

}
.credit{
    display: block;
    background-color: #32425C;
    color: white;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    padding: 14px 128px 17px 22px;
    border-top: rgb(64, 80, 105);
    border-top-width: 1px;
    border-top-style: inset;
}
.delivery-info{
    margin-left: 80px;
    padding: 0px;
}
.delivery-info h3{
    padding-top: 0px;
    margin-top: 67px;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 400;
    width: 305px;
    padding: 0px;
    /*margin не тот*/ 
}
.delivery-info p{
    font-size: 13px;
    line-height: 24px;
    width: 313px;
    margin-bottom: 128px;
}
.service-block img{
    margin-right: 130px;
}
.main-bottom{
    margin-top: 79px;
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    margin-bottom: 85px;
}
.about{
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.about ul{
    list-style: circle;
    height: 99px;
    width: 186px;
    /*Как сделать красные линии и как сделать нужный маржин*/
}
.about h2{
    margin-left: 10px;
    font-size: 30px;
    line-height: 30px;
    width: 542px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 0px;
    padding: 0px;
}
.about p{
    margin-left: 10px;
    font-size: 13px;
    line-height: 24px;
    width: 550px;
    text-indent: 0%;
}
.about li p{
    font-size: 18px;
    line-height: 19px;
}
.company-examples a{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 25px;
}
.company-examples{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.button-about{
    font-size: 14px;
    line-height: 16px;
    background-color: rgb(238, 54, 67);
    color: white;
    font:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 38px;
    margin-top: 40px;
}
.contacs{
    margin-left: 89px;
    display: flex;
    flex-direction: column;
    height: 213px;
    padding: 0px;
}
.contacs h2{
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 0px;
    height: 30px;
}
.contacs p{
    font-size: 13px;
    line-height: 24px;
    font-family: "PTsans";
    margin-bottom: 32px;
}
.contacs a{
    display: flex;
    background-color: rgb(238, 54, 67);
    color: white;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 40px;
    width: 300px;
    height: 38px;
    padding-top: 7px;
    padding-bottom: 13px;
    justify-content: center;
    align-items: center;
}
.main-bottom{
    display: flex;
}
.mainfooter {
    background-color: rgb(50,66,92);
    display: flex;
    height: 195px;
}
.logoandaddress{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}
.logo-bottom{
    display: flex;
    width: 220px;
    height: 68px;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 54, 67);
}
.logoandaddress p{
    width: 352px;
    height: 74px;
}
.mainfooter p{
    font-size: 18px;
    line-height: 24px;
    color: #F3F7F9;
    padding: 0px;
}
.links{
    display: flex;
    flex-direction: column;
    margin-right: 130px;
}
.mainfooter-link{
    display: flex;
    margin-left: 38px;
    justify-content: space-between;
    margin-top: 45px;
    width: 550px;
    padding: 0px;
}
.mainfooter-link a{
    color: #F1F5F7;
    font-size: 18px;
    line-height: 24px;
}
.mainfooter li{
    display: inline;
}
.mainfooter-link2{
    display: flex;
    margin-left: 61px;
    width: 525px;
    justify-content: space-between;
}
.mainfooter-link2 a{
    color: #FFD180;
    font-size: 18px;
    line-height: 24px;
}
.footerinfo {
    background-color: rgb(41,52,73);
    display: flex;
    align-items: center;
    height: 105px;
    padding-left: 130px;
}
.footerinfo p{
    justify-content: start;
    margin-left: 0px;
    font-size: 16px;
    line-height: 18px;
    color: white;
}
.footerinfo h3{
    color: white;
    height: 37px;
    width: 257px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}
.social-links{
    display: flex;
    margin-left: 131px;
    margin-right: 118px;
}
.social-links a{
    display: flex;
    width: 44px;
    height: 44px;
    margin-right: 1px;
    background-image: url(img/other/social-layer.png);
    background-color: rgb(33,42,58);
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}
.footerinfo span{
    font-size: 16px;
    line-height: 18px;
    color: #FFD180;
}
.feedback{
    width: 165px;
    margin-right: 23px;
}
.developer{
    margin-right: 130px;
}